#navbar{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding: 10px;
    background-color: rgb(1, 5, 3);
    border-radius: 5px;
}
#options{
    display: flex;
    gap:20px;
}
#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto);
    gap:50px;
    
}
img{
    height:200px;
    width: 100%;
   
}
a{
    text-decoration: none;
    color: beige;
}
#div{
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 0px 0px 5px 5px;
   

}
